<!DOCTYPE html>
<html lang="en">
{{#> head title='Articles Aggregation - Visual seven' subtitle='' }}
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0,o-toggle@^1.1.10,o-loading@^2.2.1,o-header@^7.5.13,o-teaser@^2.3.1,o-teaser-collection@^2.2.0,o-grid@^4.4.4">
<link rel="stylesheet" href="/static/css/articlesAggregation.css">
{{/head}}

<body class="seven">
	{{> origami/header}}
	<main class="o-grid-container">
		<div class="explaination">
			<h2>Top facets</h2>
			<p>The top facets across topics and people presented in a novel way for the past {{days}} day(s)</p>
		</div>
		<div class="container">
			<div class="left">
				<h2>Topics</h2>
				<ul>
					{{#each left}}
					<li>
						<span>{{title}}</span>
						<span>{{index}}</span>
						<span class="ranking">{{count}}^</span>
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="right">
				<h2>People</h2>
				<ul>
					{{#each right}}
					<li>
						<span class="ranking">{{count}}^</span>
						<span>{{index}}</span>
						<span>{{title}}</span>
					</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</main>
</body>

</html>