<!DOCTYPE html>
<html lang="en">
{{#> head title='Articles Aggregation - Key people circles' subtitle='' }}
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0,o-toggle@^1.1.10,o-loading@^2.2.1,o-header@^7.5.13,o-teaser@^2.3.1,o-teaser-collection@^2.2.0,o-grid@^4.4.4">
<link rel="stylesheet" href="/static/css/articlesAggregation/main.css">
<link rel="stylesheet" href="/static/css/articlesAggregation/vis4.css">
{{/head}}

<body class="four">
	{{> origami/header}}
	<main class="o-grid-container">
		<div class="explaination">
			<h2>Key people circles</h2>
			<p>Displays the top people and their related content for the past {{days}} day(s), back-in-time by {{timeslip}} days</p>
		</div>
		<div class="o-grid-row">
			{{#each data}}
			<div class="bubble">
				<div class="imgHolder">
					<img src="{{image}}">
				</div>
				<p>{{name}}</p>
				<div class="article">
				{{#each articles}}
					<a href="{{location.uri}}">{{title.title}}</a>
				{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
	</main>
</body>

</html>