<!DOCTYPE html>
<html lang="en">
{{#> head title='Articles Aggregation - Visual three' subtitle='' }}
<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-fonts@^3.0.4,o-buttons@^5.10.3,o-forms@^5.2.4,o-table@^6.7.0,o-toggle@^1.1.10,o-loading@^2.2.1,o-header@^7.5.13,o-teaser@^2.3.1,o-teaser-collection@^2.2.0,o-grid@^4.4.4">
<link rel="stylesheet" href="/static/css/articlesAggregation/main.css">
<link rel="stylesheet" href="/static/css/articlesAggregation/vis3.css">
{{/head}}

<body class="three">
	{{> origami/header}}
	<main class="o-grid-container">
		<div class="explaination">
			<h2>Top People</h2>
			<p>Displays the top people and their related content for the past {{days}} day(s), back-in-time by {{timeslip}} days</p>
		</div>
		<div class="o-grid-row">
			{{#each data}}
			<div class="row" data-o-grid-colspan="4">
				<div class="header">
					<div class="image">
						<p>{{spotData}}</p>
					</div>
					<div class="name">
						<p>{{name}}</p>
						<span class="facets o-teaser__tag">{{selectedFacets.topic}} // {{selectedFacets.person}}</span>
					</div>
				</div>
				<div class="articles">
				{{#each articles}}
					{{> origami/teaser
						title=title.title
						image=images.0.url
						url=location.uri }}
				{{/each}}
				</div>
			</div>
			{{/each}}
		</div>
	</main>
</body>

</html>