<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.grouping {
				font-weight:bold;
				background-color: coral;
			}
			.blank_row {
			    height: 30px !important; /* overwrites any other rules */
			    background-color: #FFFFFF;
			}
			.name {
				font-size: 120%;
			}
			.articles {
				width: 60%;
			}

		</style>

	</head>
	<body>
		<h1>Article Aggregations: Basic 4: tweaking display of groupings, with bubbling under</h1>
		<h3>params: days={{params.days}}, minCorrelation={{params.minCorrelation}}, timeslip={{params.timeslip}}</h3>
		<main class="centerPos">
			<table>
				{{#each groupings}}
					<tr>
						<td class="grouping" colspan="3">{{ this.metadataKey }}.{{ this.taxonomy }}</td>
					</tr>
					{{#each topNames}}
						<tr>
							<td class="name">
								{{ this.[0] }}
							</td>
							<td class="articles">
								<ul>
								{{#each this.[2]}}
									<li>{{title}}</li>
								{{/each}}
								</ul>
							</td>
							{{#if @first}}
							<td rowspan="{{../topNames.length}}">
								... bubbling under<br><br>
								{{#each ../namesBubblingUnder}}
								{{{this}}}<br>
								{{/each}}
							</td>
							{{/if}}
						</tr>
				  {{/each}}
					<tr class="blank_row"></tr>
				{{/each}}
			</table>

		</main>
	</body>
</html>
