<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.grouping {
				font-weight:bold;
				background-color: coral;
			}
			.blank_row {
			    height: 30px !important; /* overwrites any other rules */
			    background-color: #FFFFFF;
			}
			.name {
				font-size: 150%;
				/* white-space: nowrap; */
			}
			.articles {
				width: 60%;
				padding: 0;
				margin: 0;
				list-style: none;
			}
			.articles65 {
				width: 65%;
			}
			.thumbnail {
				width: 30%;
			}
			.thumbnails {
				width: 25%;
			}
			.pubdate {
				font-size: 75%;
				font-style: italic;
			}

		</style>

	</head>
	<body>
		<h1>Article Aggregations: Basic List 2: adding list history, grouped</h1>
		<p>
			<form action="" method="get" class="form-example">
				<label>days</label>=<input type="text" name="days" id="days" value="{{params.days}}" size="3" required>
				<label>timeslip</label>=<input type="text" name="timeslip" id="timeslip"  value="{{params.timeslip}}" size="3" required>
				<label>minCorrelation</label>=<input type="text" name="minCorrelation" id="minCorrelation"  value="{{params.minCorrelation}}" size="1" required>
				<input type="submit" value="SUMMARISE!">
			</form>
		</p>
		<main class="centerPos">
			<h3>List history: primaryThemes, grouped</h3>
			<table>
				{{#each listStuff.articlesByPrimaryThemeNames}}
				<tr>
					<td class="name">{{name}}</td>
					<td class="thumbnails">
						{{#each articles}}
						<img class="thumbnail" src="{{imageUrl}}">
						{{/each}}
					</td>
					<td class="articles">
						<ul>
							{{#each articles}}
							<li><a href="https://www.ft.com/content/{{uuid}}" target="_blank">{{title}}</a> <span class="pubdate">({{initialPublishDateTime}})</span></li>
							{{/each}}
						</ul>
					</td>
				</tr>
				{{/each}}
			</table>

			<h3>Correlations in primaryTheme</h3>

			<table>
				{{#each groupings}}
					<tr>
						<td class="grouping" colspan="3">{{ this.metadataKey }}.{{ this.taxonomy }}</td>
					</tr>
					{{#each topNames}}
						<tr>
							<td class="name">
								{{ this.[0] }}<br>
								{{#each this.[2]}}
									{{#if imageUrl}}
										<img class="thumbnail" src="{{imageUrl}}">
									{{/if}}
								{{/each}}
							</td>
							<td class="articles">
								<ul>
								{{#each this.[2]}}
									<li><a href="https://www.ft.com/content/{{uuid}}" target="_blank">{{title}}</a></li>
								{{/each}}
								</ul>
							</td>
							{{#if @first}}
								{{#if ../namesBubblingUnder.length}}
								<td rowspan="{{../topNames.length}}">
									... bubbling under<br><br>
									{{#each ../namesBubblingUnder}}
									{{{this}}}<br>
									{{/each}}
								</td>
								{{/if}}
							{{/if}}
						</tr>
				  {{/each}}
					<tr class="blank_row"></tr>
				{{/each}}
			</table>

		</main>
	</body>
</html>
