<li class="fast-ft__story story">
	<article class="" data-trackable="story">
		<a class="story__link" href="{{link}}" data-trackable="main-link" data-position="{{position}}"
		 data-siblings="">
			<div class="story__title">{{title}}</div>
		</a>
		<time data-o-component="o-date" class="story__time">{{type}}</time>
		<div class="ranking">
			^ {{count}}
		</div>
	</article>
</li>