<div class="demo-container ">

	<div class="o-teaser o-teaser--small  o-teaser--has-image " data-o-component="o-teaser">
		<div class="o-teaser__content">
			<!--
			<div class="o-teaser__meta">
				
				<a href="#" class="o-teaser__tag">World</a>

			</div>
			-->

			<h2 class="o-teaser__heading">
				<a href="#">{{title}}</a>
			</h2>

				<p class="o-teaser__standfirst">{{subtitle}}</p>

				<div class="o-teaser__timestamp o-teaser__timestamp--inprogress">
					<span class="o-teaser__timestamp-prefix">Live</span>
					<time data-o-component="o-date" class="o-date" datetime="{{datetime}}">{{datetime}}</time>
				</div>

		</div>
			<div class="o-teaser__image-container">
				<div class="o-teaser__image-placeholder image-placeholder">
					<img src="{{image}}" class="o-teaser__image" alt="demo image">
				</div>
			</div>
	</div>

</div>